* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper {
    background-color: khaki;
    height: 100%;
    width: 60%;
}

.score {
    background-color: aqua;
    height: 100%;
    width: 50%;
}